__tests__
.babelrc
.built
.editorconfig
.eslintignore
.eslintrc.cjs
.github
.gitignore
.lib
.npmrc
.nvmrc
.tmp
.vscode
*.tgz
coverage
jest
jest.config.cjs
tasks
# src
tsconfig.json
webpack.config**.*

# until I fix WebPack CSS script
src/noop.js
dist/empty.js
