.ace_autocomplete.ace-tm .ace_marker-layer .ace_active-line {
  background-color: #CAD6FA;
  z-index: 1;
}

.ace_autocomplete.ace-tm .ace_line-hover {
  border: 1px solid #abbffe;
  margin-top: -1px;
  background: rgba(233, 233, 253, 0.4);
}

.ace_autocomplete .ace_line-hover {
  position: absolute;
  z-index: 2;
}

.ace_rightAlignedText {
  color: gray;
  display: inline-block;
  position: absolute;
  right: 4px;
  text-align: right;
  z-index: -1;
}

.ace_autocomplete .ace_completion-highlight {
  color: #000;
  text-shadow: 0 0 0.01em;
}

.ace_autocomplete {
  width: 280px;
  z-index: 200000;
  background: #fbfbfb;
  color: #444;
  border: 1px lightgray solid;
  position: fixed;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  line-height: 1.4;
}
