html body .ugs-ace-editor {
  position: absolute;
}

.ugs-ace-editor {
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left 300ms ease-out;
}

.ugs-ace-editor--help-open {
  left: 350px;
}
